.env
mlproject.egg-info
env
logs
mlopsproject.egg-info
__pycache__
# MLflow run artifacts
mlruns/

# Ignore everything in data except DVC metadata and tracked files
data/*
!data/raw/
!data/raw/*.dvc
!data/raw/.gitignore
# Ignore GitHub Actions self-hosted runner files
actions-runner/
# Ignore generated data and local credentials
github_cicd*

